
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #baa2a2; 
}

header {
  background-color: #bd0d07; 
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: 'Jura Medium', Active Depth;
  font-size: 32px; 
  color: #fdfbfb; 
  text-transform: uppercase; 
  letter-spacing: 2px;
  padding: 10px 20px; 
}


.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #cb8383;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 5px 10px;
  background-color: #5c946e; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.info h3 {
  margin: 10px 0;
}

.info p {
  margin: 5px 0;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  padding: 5px 10px;
  background-color: #d5371b; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity span {
  margin: 0 5px;
}
